.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* Additional styles for better spacing with custom features */
.features + .features {
  margin-top: 2rem;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 1rem 0;
  }
}